body{
  font-family:"Arial", Serif;
  background-color: #e2c3c9;
  overflow-x:hidden;
}

.navbar{
  background-color:#0c0c0c;
  overflow:hidden;
  height:83px;
  font-size: 80px;
}

.navbar a{
  float:left;
  display:block;
  color:#f2f2f2;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
  font-size:17px;
}

.navbar ul{
  margin:8px 0 0 0;
  list-style:none;
}

.navbar a:hover{
  background-color:#ddd;
  color:#000;
}

.side-nav{
  height:100%;
  width:0;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:#111;
  opacity:0.9;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.5s;
}

.side-nav a{
  padding:10px 10px 10px 30px;
  text-decoration:none;
  font-size:22px;
  color:#ccc;
  display:block;
  transition:0.3s;
}

.side-nav a:hover{
  color:#fff;
}

.side-nav .btn-close{
  position:absolute;
  top:0;
  right:22px;
  font-size:36px;
  margin-left:50px;
}

#main{
  transition:margin-left 0.5s;
  padding:20px;
  overflow:hidden;
  width:100%;
  text-align: center;
  text-shadow:5px 5px 5px red;
}

@media(max-width:568px){
  .navbar-nav{display:none}
}

@media(min-width:568px){
  /*.open-slide{display:none}*/
}
#head,#tej{
  font-style: oblique;
  font-size: 70px;
  color:rgb(238, 252, 39);
  text-shadow:5px 5px 5px rgb(19, 18, 18);
  text-align: center;
  text-decoration:underline;
  
}
h2{
  font-size: 50px;
}
p{
  color:black;
  font-size: 30px;
}

footer{
  text-align: center;
  background-color: blue;
  color:white;
  height:83px;

}